.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  
  svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
  }
  
  &.icon-small {
    width: 1rem;
    height: 1rem;
  }
  
  &.icon-large {
    width: 2rem;
    height: 2rem;
  }
}