<nz-form-item>
    @if (label) {
        <nz-form-label [nzFor]="name" [nzRequired]="isRequired">
            {{ label }}
        </nz-form-label>
    }
    <nz-form-control [nzErrorTip]="parsearError((errorMessage??'') | translate)??''" [nzValidateStatus]="ngControl?.control!">
        <nz-input-group
            [nzPrefix]="prefix ?? ''"
            [nzSuffix]="sufix ?? ''"
        >
            <input
                [ngModel]="value"
                (ngModelChange)="handleInput($event)"
                [name]="name"
                [id]="name"
                nz-input
                [placeholder]="placeholder"
                [type]="type"
                [disabled]="disabled"
                [attr.maxlength]="maxlength"
                [nzAutocomplete]="auto"
            />
        </nz-input-group>
        <nz-autocomplete #auto>
            @if (!autocompleteLoadingOptions) {
                @for (option of autocompleteOptions; track option.value) {
                    <nz-auto-option [nzValue]="option.value??''">
                        @if (!autocompleteTemplate) {
                            {{ option.label ?? option.value }}
                        } @else {
                            <ng-container *ngTemplateOutlet="autocompleteTemplate; context: { $implicit: option }"></ng-container>
                        }
                    </nz-auto-option>
                }
            } @else {
                <nz-auto-option [nzDisabled]="true" [nzValue]="''">
                    <nz-icon nzType="loading" nzSpin></nz-icon> {{ '$$$_cargando_$$$' | translate }}
                </nz-auto-option>
            }

        </nz-autocomplete>
    </nz-form-control>
</nz-form-item>