<nz-form-item>
    <nz-form-label *ngIf="label" [nzFor]="name" [nzRequired]="isRequired">
        {{ label }}
    </nz-form-label>
    <nz-form-control [nzErrorTip]="parsearError((errorMessage??'') | translate)??''" [nzValidateStatus]="ngControl?.control!">
        <nz-input-group
            [nzPrefix]="prefix ?? ''"
            [nzSuffix]="sufix ?? ''"
        >
            <input
                [ngModel]="value"
                (ngModelChange)="handleInput($event)"
                [name]="name"
                [id]="name"
                nz-input
                [placeholder]="placeholder"
                [type]="type"
                [disabled]="disabled"
                [attr.maxlength]="maxlength"
                [nzAutocomplete]="auto"
            />
        </nz-input-group>
        <nz-autocomplete #auto>
            <ng-container *ngIf="!autocompleteLoadingOptions; else loadingTpl">
                <nz-auto-option *ngFor="let option of autocompleteOptions" [nzValue]="option.value??''">
                    <ng-container *ngIf="!autocompleteTemplate; else customTemplate">
                        {{ option.label ?? option.value }}
                    </ng-container>
                    <ng-template #customTemplate>
                        <ng-container *ngTemplateOutlet="autocompleteTemplate; context: { $implicit: option }"></ng-container>
                    </ng-template>
                </nz-auto-option>
            </ng-container>
            <ng-template #loadingTpl>
                <nz-auto-option [nzDisabled]="true" [nzValue]="''">
                    <nz-icon nzType="loading" nzSpin></nz-icon> {{ '$$$_cargando_$$$' | translate }}
                </nz-auto-option>
            </ng-template>
        </nz-autocomplete>
    </nz-form-control>
</nz-form-item>