@if (showCard) {
  <nz-card [nzTitle]="title" style="width: 400px;">
    <div class="demo-content">
      <!-- Botones de ng-zorro -->
      <div class="button-group">
        <button nz-button nzType="primary" (click)="onButtonClick()">
          <span nz-icon nzType="check"></span>
          {{ buttonText }}
        </button>
        
        <button nz-button nzType="default">
          <span nz-icon nzType="download"></span>
          Descargar
        </button>
        
        <button nz-button nzType="dashed" nzDanger>
          <span nz-icon nzType="delete"></span>
          Eliminar
        </button>
      </div>

      <!-- Input de ng-zorro -->
      <div class="input-group">
        <input 
          type="text" 
          nz-input 
          nzPrefix="user"
          placeholder="Escribe algo aquí..." 
          [(ngModel)]="inputValue"
        />
      </div>

      <!-- Tags de ng-zorro -->
      <div class="tag-group">
        <nz-tag [nzColor]="tagColor1">Tag 1</nz-tag>
        <nz-tag [nzColor]="tagColor2">Tag 2</nz-tag>
        <nz-tag [nzColor]="tagColor3">Tag 3</nz-tag>
        <nz-tag [nzColor]="tagColor4">Tag 4</nz-tag>
      </div>

      <!-- Valor del input -->
      @if (inputValue) {
        <div class="input-display">
          <strong>Valor ingresado:</strong> {{ inputValue }}
        </div>
      }
    </div>
  </nz-card>
} @else {
  <div class="simple-demo">
    <h3>{{ title }}</h3>
    <button nz-button nzType="primary">{{ buttonText }}</button>
  </div>
}